body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}
/* 
.Appcontainer{
  min-height: 100vh;
} */

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 11vh;
  background-color: #3e3e3e;
  color: white;
}


.dropdown-arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 25px;
}

.dropdown-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-top: 7px solid #ffffff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  transition: transform 0.3s ease;
}

.dropdown-open .dropdown-arrow::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

.link{
  font-weight: bold;
  font-size: medium ;
  background:none;
  color:white;
  /* font-size: 18px; */
  border:none ;
}


.navLink{
  display: flex;
   list-style: none;
  align-items: center; 
  cursor: pointer;
  

 }

.home{
  display: flex;
  width: 40px;
  margin-right: 10px;
}

.dropdown-open .dropdown-menu{
  opacity: 1;
  transform:translateY(0);
  pointer-events: auto;
}

.dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 200px;
  top: 10%;
  max-height: 40%;
  border-radius: 12px;
  right: 5px;
  z-index: 1;
  margin-right: 5px;
  box-shadow: 6px 6px 15px 0 rgba(0,0,0,.23);
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  

}



.dropdown-menu a{
  font-size: 14px;
  color:#808080;
  line-height: 45px;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 15px ;
  margin: 0px;
  cursor:pointer;
}


.dropdown-menu a:hover{
  
  background-color: #bdbdbd47;
  transition: 0.3s;
}



.spasso-picture{
  width: 150px;
  height: 90px;
  margin-bottom: 20px;
}


.addheader{
  display: flex;
  font-family:Arial, Helvetica, sans-serif;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 

}



.icon{
  width: 20px;
  cursor: pointer;
  
}

.edit{
  width: 21px;
  cursor:pointer;
}


.del{
  width: 22px;
  cursor:pointer;
}


#MyUser{
  background-color: rgb(203, 233, 255);
}

.activatelist{
  width: 35px;
  height: 18px;
  appearance: none;
  border-radius: 50px;
  background-color: #bfbfbf;
  box-shadow: inset 0px 0px 16px 1px rgba(0,0,0,0.24);
  cursor: pointer;
  transition: .4s;
  position: relative;
}

.activatelist:checked[type="checkbox"]{
  background-color: rgb(66, 236, 66);
  
}

.activatelist[type="checkbox"]:before{
  content:'';
  width: 18px;
  height: 18px;
  background-color: #EDF3F1;
  border-radius: 50px;
  position:absolute;
  box-shadow: 0px 4px 8px 1px rgba(0,0,0,0.24);
  transform: scale(1.1);
  top:0;
  left: 0;
  transition: .3s;
}

.activatelist:checked[type="checkbox"]:before{
  left:18px
}

.usercheck{
  width: 21px;
  height: 18px;
  /* appearance: none; */
}



.elementor-video {
  position: absolute;
  top: 0;
  left: 0;
  /* box-sizing: border-box; */
  width: 100%;
  height: 100%;
  z-index: -1;
}



.login-form button{
  border: none;
  padding: 12px;
  border-radius: 5px;
  width: 235px;
  margin-top: 11px;
  margin-bottom: 8px;
  cursor: pointer;

}



a{
  color:white;
  text-decoration:none;
  margin-left: 20px;
}



.swal-wide h2{
  font-size: 21px;
  margin-bottom: 5px;
}


.festcontainer{
  padding-bottom: 2rem;
}



.loading{
  min-height: 100vh;
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  position: relative;
  width: 100%;
  background-color: #eeeeee;
  margin: 0;

}


.inputsearch{
  width: 400px;
  background-color: rgb(255, 255, 255);
  height: 35px;
  margin-bottom: 5px;
  align-items: center;
  display: flex;
  border: 1px solid rgb(43, 145, 133);
  
}


.inputsearch img{
 width: 26px;
 margin-left: 5px;
 margin-right: 5px;
  
}

#searchInput{
  width: 100%;
  border-radius: 8px;
  text-align: center;
  font-size: 18px; 
  border: none;
  
}


.inputsearch input:focus-visible {
 outline: none;
}


